<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464477574425-c5s407td58vkvu4k5v0nj8f0pneciu3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464477574425-c5s407td58vkvu4k5v0nj8f0pneciu3l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>464477574425-84luf4nk31v264k904867urlp3ktlfi3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDKDDS2Y4kxVgr0zFgDfkxKMi14rmBR2A</string>
	<key>GCM_SENDER_ID</key>
	<string>464477574425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.modsinstaller.addmods</string>
	<key>PROJECT_ID</key>
	<string>addmods-e243a</string>
	<key>STORAGE_BUCKET</key>
	<string>addmods-e243a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464477574425:ios:eb75cbc2b927f2dcb2a188</string>
</dict>
</plist>